@model DiscussionForum.Post

@{
    ViewBag.Title = "Delete | Discussion Forum";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="text-left">
                <h1 class="display-4">Are you sure to delete below post?</h1>
            </div>
            <br/>
            <button type="submit" class="mb-3 btn btn-lg btn-danger">Yes, Delete it</button> |
            @Html.ActionLink("Back to My posts", "Index", "Post", null, null)

        </div>
    </div>
}

<hr/>
<div class="jumbotron">
    <div class="text-left">
        <h1>@Model.Title </h1>
        <hr />
    </div>
    <div class="container">
        @Html.Raw(@Model.Description)
    </div>
</div>